@media (min-width: 992px) and (max-width: 1199px) {
  /*Home Page*/
  nav .menulist li a {
    margin: 37px 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #banner .slick-dots {
    top: 80%;
  }
  #banner .banner-slide {
    height: 500px;
    width: auto;
  }
  #banner .banner-slide .banner-cnt h5 {
    font-size: 15px;
    margin-bottom: 8px;
  }
  #banner .banner-slide .banner-cnt h2 {
    margin-bottom: 8px;
    font-size: 40px;
  }
  #banner .banner-slide .banner-cnt p {
    margin-bottom: 8px;
  }
  #banner .banner-slide .banner-cnt a {
    padding: 5px 14px;
    color: #fff;
    font-size: 12px;
  }
  #product {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #new-product .arrival-head {
    font-size: 28px;
  }
  #get-discount {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #get-discount .discount-banner {
    height: 350px;
  }
  #get-discount .discount-banner .discount-info h2 {
    font-size: 30px;
    width: auto;
  }
  #get-discount .discount-banner .discount-info p {
    font-size: 14px;
  }
  #get-discount .discount-banner .discount-info a {
    font-size: 16px;
    padding: 11px 33px;
  }
  #best-sellar-product .container h2 {
    font-size: 28px;
  }
  #best-sellar-product .container .bext-btn a {
    font-size: 15px;
    padding: 12px 30px;
  }
  #deal-of-day .deal-head {
    font-size: 28px;
    margin-bottom: 35px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  #banner .slick-dots {
    opacity: 0;
  }
  #banner .banner-slide {
    height: 400px;
    width: auto;
  }
  #banner .banner-slide .banner-cnt h5 {
    font-size: 12px;
    margin-bottom: 7px;
  }
  #banner .banner-slide .banner-cnt h2 {
    margin-bottom: 7px;
    font-size: 30px;
  }
  #banner .banner-slide .banner-cnt p {
    margin-bottom: 7px;
    font-size: 12px;
  }
  #banner .banner-slide .banner-cnt a {
    padding: 7px 13px;
    color: #fff;
    font-size: 12px;
  }
  #product {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  #product .beauty-perfume .beauty .beauty-overlay h4 {
    font-size: clamp(14px, 10vw, 20px);
  }
  #product .beauty-perfume .perfume .perfume-overlay h4 {
    font-size: clamp(14px, 10vw, 20px);
  }
  #new-product .arrival-head {
    font-size: 28px;
  }
  #get-discount {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #get-discount .discount-banner {
    height: 280px;
  }
  #get-discount .discount-banner .discount-info h2 {
    font-size: 20px;
    width: auto;
  }
  #get-discount .discount-banner .discount-info p {
    font-size: 12px;
  }
  #get-discount .discount-banner .discount-info a {
    font-size: 14px;
    padding: 9px 26px;
    margin-top: 15px;
  }
  #best-sellar-product .container h2 {
    font-size: 28px;
  }
  #best-sellar-product .container .bext-btn a {
    font-size: 15px;
    padding: 12px 30px;
  }
  #deal-of-day .deal-head {
    font-size: 28px;
    margin-bottom: 35px;
  }
  #deal-of-day .deal .deal-box {
    padding: 35px 140px 100px 40px;
  }
}
@media (min-width: 320px) and (max-width: 576px) {
  #banner .slick-dots {
    opacity: 0;
  }
  #banner .banner-slide {
    height: 200px;
    width: auto;
  }
  #banner .banner-slide .banner-cnt h5 {
    font-size: 10px;
    margin-bottom: 5px;
  }
  #banner .banner-slide .banner-cnt h2 {
    margin-bottom: 5px;
    font-size: 25px;
  }
  #banner .banner-slide .banner-cnt p {
    margin-bottom: 5px;
    font-size: 10px;
  }
  #banner .banner-slide .banner-cnt a {
    padding: 5px 10px;
    color: #fff;
    font-size: 10px;
  }
  #product {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  #product .beauty-perfume .beauty .beauty-overlay h4 {
    font-size: clamp(14px, 10vw, 18px);
  }
  #product .beauty-perfume .beauty .beauty-overlay a {
    font-size: clamp(8px, 10vw, 12px);
  }
  #product .beauty-perfume .perfume .perfume-overlay h4 {
    font-size: clamp(14px, 10vw, 20px);
  }
  #new-product .arrival-head {
    font-size: 28px;
  }
  #get-discount {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #get-discount .discount-banner {
    height: 280px;
  }
  #get-discount .discount-banner .discount-info h2 {
    font-size: 20px;
    width: auto;
  }
  #get-discount .discount-banner .discount-info p {
    font-size: 12px;
  }
  #get-discount .discount-banner .discount-info a {
    font-size: 14px;
    padding: 9px 26px;
    margin-top: 15px;
  }
  #best-sellar-product .container h2 {
    font-size: 28px;
  }
  #best-sellar-product .container .bext-btn a {
    font-size: 15px;
    padding: 12px 30px;
  }
  #deal-of-day {
    margin-top: 50px;
  }
  #deal-of-day .deal-head {
    font-size: 28px;
    margin-bottom: 35px;
  }
  #deal-of-day .counter {
    border-radius: 0;
  }
  #deal-of-day .deal .deal-box {
    padding: 30px 50px 30px 30px;
  }
  #deal-of-day .deal .deal-box h5 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  #deal-of-day .deal .deal-box h2 {
    font-size: 28px;
    margin-bottom: 14px;
  }
  #deal-of-day .deal .deal-box p {
    font-size: 12px;
    margin-bottom: 20px;
  }
  #deal-of-day .deal .deal-box a {
    font-size: 12px;
    margin-top: 20px;
  }
}/*# sourceMappingURL=responsive.css.map */